/* 
Purple #9356DC 
Pink #FF79DA 
Green #99E2D0 
font-family: 'Shrikhand', cursive;
*/

*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    text-align: center;
    vertical-align: center;
    padding: .4em 0;
    border-bottom: 1px solid rgb(211, 210, 210);
}

.headerTitle{
    font-family: 'Shrikhand', cursive;
    font-size: 7vw;
}

.searchForm{
    background-color: rgb(253, 229, 221);
    display: flex;
    justify-content: center;
    height: 9vw;
}

.searchIcon{
    padding: .45em;
}

.searchField{
    width: 30vw;
    border: none;
    background-color: transparent;
    color: black;
    font-size: 3.5vw;
    font-weight: bold;
}

.titles{
    display: flex;
    align-items: center;
    flex-flow: column;
    text-align: center;
}
.mainTitle{
    font-size: 5vw;
}

.mainSubtitle{
    font-size: 3vw;
    font-weight: normal;
}

.exploreButton{
    border-radius: 20px;
    border: none;
    background: linear-gradient(356deg, rgba(147,86,220,1) 25%, rgba(255,121,218,1) 100%);
    color: white;
    min-width: 15em;
    min-height: 3em;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    font-weight: 500;
}

